<h1>Blog home</h1>
{{ for article in articles }}
<div class="article">
    <h2 class="article-title">{{ article.Title }}</h2>
    <p class="article-content">{{ article.Content }}</p>
</div>
{{ end }}

{{ for $i in 0..(nPages - 1)}}
    <a href="?page={{$i}}">{{$i}}</a>
{{ end }}

<h1>Publish a new blog </h1>
<form method="post" action="/blog">
    <label>
        Title
        <input type="text" id="Title" name="Title" value='{{ flashMessages["BlogArticleForm.Title"] }}'/>
    </label>
    <div>
        <div>
            <ul>
                {{ for error in flashMessageLists["formValidationErrors.BlogArticleForm.Title"] }}
                <li>
                    {{ error }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <label>
        Content
        <textarea id="Content" name="Content">{{ flashMessages["BlogArticleForm.Content"] }}</textarea>
    </label>
    <div>
        <div>
            <ul>
                {{ for error in flashMessageLists["formValidationErrors.BlogArticleForm.Content"] }}
                <li>
                    {{ error }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <button id="submit-button">Submit</button>
</form>